
.vidtuts-items {
  display:none;
} 

.vidtuts-silhouette {
  background-color: transparent;
  background-image: url('../images/bg.png');

  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.vidtuts-video-silhouette {
  background-color: transparent;

  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
}