.vidtuts-video {
  display:none;
  position: fixed;

  background-color: grey;
  border: 10px solid #999999;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 40px #000000;


  .vidtuts-video-content {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }

  .vidtuts-video-close {
    background-image: url('../images/close.png');
    background-color: #999999;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 10px 10px 10px 10px;
    height: 40px;
    position: absolute;
    right: -30px;
    top: -30px;
    width: 40px;

    cursor:hand;
    cursor:pointer;
  }

}