$experimental-support-for-svg: true;

$font-verdana : Verdana, "Lucida Grande", FreeSans, sans-serif;
$font-arial   : Helvetica, Arial, FreeSans, sans-serif;
$font-tahoma  : Tahoma, $font-arial;
$font-segoe   : "Segoe UI", Tahoma, Verdana, Arial;

@import "partials/reset";
@import "partials/grid";

@import "vidtuts-1.0/button";

body {
  margin-top:40px;
}

.bnt {
  @include button(#cccccc,medium);
} 

.box {
  border: 1px solid #909090;
  background-color:#ccc;
  padding:20px;
  font:normal 20pt arial;
  color:#999;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
}

.item {
  border: 1px solid #909090;
  background-color:#ccc;
  padding:3px;
  font:normal 8pt arial;
  color:#666;
  border-radius: 5px 5px 5px 5px;
}

.g960 {
  margin-bottom:40px;
}

.left {
  float: left;
  margin-right: 10px;
}

.right {
  float: right;
  margin-left: 10px;
}

h2 {
  font-weight:bold;
  font-size:12pt;
  margin-bottom:5px;
}