$experimental-support-for-svg: true;

@import "compass";
@import "vidtuts-1.0/layout";
@import "vidtuts-1.0/tooltip";
@import "vidtuts-1.0/video";

$tuts-color-base: #ddd;
$tuts-border-width:10px;



.vidtuts-icon {
  background-position: center;
  background-repeat:no-repeat;

  background-image: url('../images/play-32-blue.png');

  width:28px;
  height:24px;
  position:absolute;
  background-position: center center;
  left:30px;
  top:60px;
  cursor:pointer;
  cursor:hand;
  display:none;

.tooltip:after, .tooltip:before {
    content: ' ';
    position: absolute;
    top: 100%;
    border-style: solid;
    width: 0;
    height: 0;
}

.tooltip:before {
    border-color: #333 transparent transparent transparent;
    border-width: 16px 17px 0 7px;
    left: 10px;
}

.tooltip:after {
    border-color: #ccd transparent transparent transparent;
    border-width: 12px 11px 0 4px;
    left: 14px;
}

.tooltip {
    position: relative;
    border: 3px solid #333;
    background-color: #ccd;
    padding: 2px 10px;
    text-align: center;
    min-width:100px;
    height: 20px;
    top:-34px;
    left:-5px;
    border-radius: 15px;
    white-space:nowrap;
}
}