$experimental-support-for-svg: true;

@import "compass";
@import "vidtuts-1.0/layout";
@import "vidtuts-1.0/tooltip";
@import "vidtuts-1.0/video";

$tuts-color-base: #ddd;
$tuts-border-width:10px;



.vidtuts-icon {
  //Black
  //background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAATCAMAAAC5m+00AAAAA3NCSVQICAjb4U/gAAAAWlBMVEX///8AAAAAAAAAAAAAAAD7+/vo6Ojn5+fIyMj7+/vk5OSqqqrMzMz////7+/v29vb09PT////7+/vv7+/Pz8+vr6+fn59/f39fX19PT08vLy8fHx8PDw8AAAA9uqu7AAAAHnRSTlMAETNEVXd3d4iZqqq77u7u7v////////////////9VHz34AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNy8yNS8xMxZ2GkcAAACKSURBVCiRddFZEoQgDATQ4D7urTODitz/mkatQmTpP3iVFAlElHdwUwo684FU+hUlUZ+WY9NeNlRsnfRFazkkgmC62W0VUiZznBfL3gT89ihhXqMErNGqJVb1fUZ06P+84iYzjv32a64+vI2RqQjvsGESdWjzbcY7JFFN7ndNzSVsSerlFrZA+PoA/g4n9Qq9aM0AAAAASUVORK5CYII=);
  
  //Red
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAATCAMAAAC5m+00AAAAA3NCSVQICAjb4U/gAAAAXVBMVEX///+tHh6tHh6tHh6tHh7++/v65+f65eX1xsb++fn64+PvqKj1ycn////++/v99fX98/P////++/v++fn87u72zs7wra3tnZ3nfHziW1vfS0vZKirNJCS8ISGtHh5YFwcMAAAAH3RSTlMAETNEVXd3d4iZqqq77u7u7v//////////////////TDNlEwAAAAlwSFlzAAAK6wAACusBgosNWgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDcvMjUvMTMWdhpHAAAAjElEQVQokXXR2RKDIAwF0ODSWrXLtVZRKf//mUadQQRy3+BMMiQQUflEkO6uaMsD2thLjEa9WYnFRllQsb10LNbqd6YIrpvf1iBncsd+8uxKwPAXCf0sEjCLVZNU9TtHDGg8X3GQG8d/+z6XsI0P0y29w4ZJ1anNtwXvkFTVhf/1bXZhy/Ioh7AlwtcrUe0pJlJ5pjEAAAAASUVORK5CYII=);

  //Blue
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAATCAMAAAC5m+00AAAAA3NCSVQICAjb4U/gAAAAXVBMVEX///82Hq02Hq02Hq02Hq38+/7q5/rp5frOxvX7+v7n4/q0qO/RyfX////8+/739f318/3////8+/77+v7w7vzUzva4rfCqne2OfOdyW+JkS99HKtlAJM07Ibw2Hq0LoHcGAAAAH3RSTlMAETNEVXd3d4iZqqq77u7u7v//////////////////TDNlEwAAAAlwSFlzAAAK6wAACusBgosNWgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDcvMjUvMTMWdhpHAAAAjElEQVQokXXR2RKDIAwF0ODSWrXLrVZRKf//mUadQQRy3+BMMiQQUflEkO9d0ZYHtLGXGI16sxKLjbKgYnvpWKzV70wRXDe/rUHO5I795NmVgOEvEvpZJGAWqyap6neOGNB4vuIgN47/9n0uYRsfplt6hw2TqlObbwveIamqC/+ra3Zhy/Ioh7AlwtcrUjopJwNvn6gAAAAASUVORK5CYII=);
  
  background-position: center;
  background-repeat:no-repeat;

  width:28px;
  height:24px;
  position:absolute;
  background-position: center center;
  left:30px;
  top:60px;
  cursor:pointer;
  cursor:hand;
  display:none;

.tooltip:after, .tooltip:before {
    content: ' ';
    position: absolute;
    top: 100%;
    border-style: solid;
    width: 0;
    height: 0;
}

.tooltip:before {
    border-color: #333 transparent transparent transparent;
    border-width: 16px 17px 0 7px;
    left: 10px;
}

.tooltip:after {
    border-color: #ccd transparent transparent transparent;
    border-width: 12px 11px 0 4px;
    left: 14px;
}

.tooltip {
    position: relative;
    border: 3px solid #333;
    background-color: #ccd;
    padding: 2px 10px;
    text-align: center;
    min-width:100px;
    height: 20px;
    top:-34px;
    left:-5px;
    border-radius: 15px;
    white-space:nowrap;
}
}