.vidtuts-items {
  display: none;
}

.vidtuts-silhouette {
  background-color: transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAA3NCSVQICAjb4U/gAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlMAmf9A5tgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAFnRFWHRDcmVhdGlvbiBUaW1lADA3LzEyLzEzzAFYLgAAAA5JREFUCJlj+H+AATcCAAdSEXeho034AAAAAElFTkSuQmCC);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.vidtuts-video-silhouette {
  background-color: transparent;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
}

.vidtuts-tooltip {
  background-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  display: inline-block;
  font: 8pt arial;
  padding: 3px;
  position: absolute;
  white-space: nowrap;
  margin: 0;
}
.vidtuts-tooltip.bottom, .vidtuts-tooltip.top {
  top: -1999px;
  bottom: auto;
}
.vidtuts-tooltip.left, .vidtuts-tooltip.right {
  left: -1999px;
  right: auto;
}
.vidtuts-tooltip.xbottom {
  top: 29px;
  bottom: auto;
}
.vidtuts-tooltip.xleft {
  left: 0;
  right: auto;
}
.vidtuts-tooltip.xright {
  right: 0;
  left: auto;
}
.vidtuts-tooltip.xtop {
  bottom: 29px;
  top: auto;
}
.vidtuts-tooltip.xcenter.right {
  right: auto;
  left: 20px;
}
.vidtuts-tooltip.xcenter.left {
  right: 20px;
  left: auto;
}

.vidtuts-tooltip:before,
.vidtuts-tooltip:after {
  content: "";
  position: absolute;
  z-index: -1;
}

.vidtuts-tooltip.right:before, .vidtuts-tooltip.right:after {
  left: 0;
  margin-left: -15px;
  top: 50%;
  margin-top: -8px;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 8px;
}
.vidtuts-tooltip.left:before, .vidtuts-tooltip.left:after {
  right: 0;
  margin-right: -15px;
  top: 50%;
  margin-top: -8px;
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 8px;
}
.vidtuts-tooltip.top.right:before, .vidtuts-tooltip.top.right:after {
  margin-top: auto;
  right: 14px;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 8px;
}
.vidtuts-tooltip.top.left:before, .vidtuts-tooltip.top.left:after {
  margin-top: auto;
  left: 14px;
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 8px;
}
.vidtuts-tooltip.top.center:before, .vidtuts-tooltip.top.center:after {
  top: 100%;
  margin-left: -6px;
  left: 50%;
  border-color: white transparent transparent;
  border-style: solid;
  border-width: 6px;
}
.vidtuts-tooltip.bottom.right:before, .vidtuts-tooltip.bottom.right:after {
  top: 0px;
  right: 14px;
  margin-top: -8px;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 8px;
}
.vidtuts-tooltip.bottom.left:before, .vidtuts-tooltip.bottom.left:after {
  margin-top: -8px;
  left: 14px;
  top: 0px;
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 8px;
}
.vidtuts-tooltip.bottom.center:before, .vidtuts-tooltip.bottom.center:after {
  left: 50%;
  margin-left: -6px;
  margin-top: -12px;
  top: 0px;
  border-color: transparent transparent white;
  border-style: solid;
  border-width: 6px;
}

.vidtuts-video {
  display: none;
  position: absolute;
  background-color: grey;
  border: 10px solid #999999;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 40px black;
}

.vidtuts-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAG4SURBVFiF7ZcxbhpBFIa/QRRJHInCUZTIxZ4g2ioXcOtISMkB2CO4Too5ga8QRJMCyeIOqVai4BIbQVJk5YJ1wu7wuwCsNQtmN4BJwS+9ZrWa/5s38+bNGEkcUrWDuh8BjgBHgMcAnHOXQAJom5hOp7fD4fCLMealMaboJ6kQaZp+lSRrrTzP+2dzz/NkrZUkRVF0DZwC9bxXwTzLsktJ8n1/q5nnw/d9SVIYhldziNpaAOfc0Fq7M/NFWGuVJMlv4B1wshZAUqm0V10az/OkWeM5B149ClBmwDiO1Wq1KkHMx74A3mwNsFCv11Oj0agC8AF4uzMASYrjWM1m83AAC22C2GsGyuyHvQAMBoPSZ8bOAdrtdukNWAmgTI1XLcHcOfAAoNAcnHM/gyBY/lxQp9PZ+E9eQRAwHo9vclAzLWdgNBp9lvbTC7rd7jc2nYTASRRF19Juu2G/3/8OfGRTL2B2RzgNw/AqTdO/Kwu+giaTyWQ+80/Ae5a6odGKh4kxpg40gDPgNfCs0oIX9Qf4BfwAbiRl916rAOYQNeAF8ByobwmQAbdAImn6wGcdwFPp/72UHgGeSne6xqzF/DdkLwAAAABJRU5ErkJggg==);
  width: 28px;
  height: 24px;
  position: absolute;
  background-position: center center;
  left: 30px;
  top: 60px;
  cursor: pointer;
  cursor: hand;
  display: none;
}
.vidtuts-icon .tooltip:after, .vidtuts-icon .tooltip:before {
  content: ' ';
  position: absolute;
  top: 100%;
  border-style: solid;
  width: 0;
  height: 0;
}
.vidtuts-icon .tooltip:before {
  border-color: #333333 transparent transparent transparent;
  border-width: 16px 17px 0 7px;
  left: 10px;
}
.vidtuts-icon .tooltip:after {
  border-color: #ccccdd transparent transparent transparent;
  border-width: 12px 11px 0 4px;
  left: 14px;
}
.vidtuts-icon .tooltip {
  position: relative;
  border: 3px solid #333333;
  background-color: #ccd;
  padding: 2px 10px;
  text-align: center;
  min-width: 100px;
  height: 20px;
  top: -34px;
  left: -5px;
  border-radius: 15px;
  white-space: nowrap;
}
