.vidtuts-items {
  display: none;
}

.vidtuts-silhouette {
  background-color: transparent;
  background-image: url("../images/bg.png");
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.vidtuts-video-silhouette {
  background-color: transparent;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
}

.vidtuts-tooltip {
  background-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  display: inline-block;
  font: 8pt arial;
  padding: 3px;
  position: absolute;
  white-space: nowrap;
  margin: 0;
}
.vidtuts-tooltip.bottom, .vidtuts-tooltip.top {
  top: -1999px;
  bottom: auto;
}
.vidtuts-tooltip.left, .vidtuts-tooltip.right {
  left: -1999px;
  right: auto;
}
.vidtuts-tooltip.xbottom {
  top: 29px;
  bottom: auto;
}
.vidtuts-tooltip.xleft {
  left: 0;
  right: auto;
}
.vidtuts-tooltip.xright {
  right: 0;
  left: auto;
}
.vidtuts-tooltip.xtop {
  bottom: 29px;
  top: auto;
}
.vidtuts-tooltip.xcenter.right {
  right: auto;
  left: 20px;
}
.vidtuts-tooltip.xcenter.left {
  right: 20px;
  left: auto;
}

.vidtuts-tooltip:before,
.vidtuts-tooltip:after {
  content: "";
  position: absolute;
  z-index: -1;
}

.vidtuts-tooltip.right:before, .vidtuts-tooltip.right:after {
  left: 0;
  margin-left: -15px;
  top: 50%;
  margin-top: -8px;
  border-color: transparent #FFFFFF transparent transparent;
  border-style: solid;
  border-width: 8px;
}
.vidtuts-tooltip.left:before, .vidtuts-tooltip.left:after {
  right: 0;
  margin-right: -15px;
  top: 50%;
  margin-top: -8px;
  border-color: transparent transparent transparent #FFFFFF;
  border-style: solid;
  border-width: 8px;
}
.vidtuts-tooltip.top.right:before, .vidtuts-tooltip.top.right:after {
  margin-top: auto;
  right: 14px;
  border-color: transparent #FFFFFF transparent transparent;
  border-style: solid;
  border-width: 8px;
}
.vidtuts-tooltip.top.left:before, .vidtuts-tooltip.top.left:after {
  margin-top: auto;
  left: 14px;
  border-color: transparent transparent transparent #FFFFFF;
  border-style: solid;
  border-width: 8px;
}
.vidtuts-tooltip.top.center:before, .vidtuts-tooltip.top.center:after {
  top: 100%;
  margin-left: -6px;
  left: 50%;
  border-color: #FFFFFF transparent transparent;
  border-style: solid;
  border-width: 6px;
}
.vidtuts-tooltip.bottom.right:before, .vidtuts-tooltip.bottom.right:after {
  top: 0px;
  right: 14px;
  margin-top: -8px;
  border-color: transparent #FFFFFF transparent transparent;
  border-style: solid;
  border-width: 8px;
}
.vidtuts-tooltip.bottom.left:before, .vidtuts-tooltip.bottom.left:after {
  margin-top: -8px;
  left: 14px;
  top: 0px;
  border-color: transparent transparent transparent #FFFFFF;
  border-style: solid;
  border-width: 8px;
}
.vidtuts-tooltip.bottom.center:before, .vidtuts-tooltip.bottom.center:after {
  left: 50%;
  margin-left: -6px;
  margin-top: -12px;
  top: 0px;
  border-color: transparent transparent #FFFFFF;
  border-style: solid;
  border-width: 6px;
}

.vidtuts-video {
  display: none;
  position: fixed;
  background-color: grey;
  border: 10px solid #999999;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 40px #000000;
}
.vidtuts-video .vidtuts-video-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.vidtuts-video .vidtuts-video-close {
  background-image: url("../images/close.png");
  background-color: #999999;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px 10px 10px 10px;
  height: 40px;
  position: absolute;
  right: -30px;
  top: -30px;
  width: 40px;
  cursor: hand;
  cursor: pointer;
}

.vidtuts-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/play-32-blue.png");
  width: 28px;
  height: 24px;
  position: absolute;
  background-position: center center;
  left: 30px;
  top: 60px;
  cursor: pointer;
  cursor: hand;
  display: none;
}
.vidtuts-icon .tooltip:after, .vidtuts-icon .tooltip:before {
  content: ' ';
  position: absolute;
  top: 100%;
  border-style: solid;
  width: 0;
  height: 0;
}
.vidtuts-icon .tooltip:before {
  border-color: #333 transparent transparent transparent;
  border-width: 16px 17px 0 7px;
  left: 10px;
}
.vidtuts-icon .tooltip:after {
  border-color: #ccd transparent transparent transparent;
  border-width: 12px 11px 0 4px;
  left: 14px;
}
.vidtuts-icon .tooltip {
  position: relative;
  border: 3px solid #333;
  background-color: #ccd;
  padding: 2px 10px;
  text-align: center;
  min-width: 100px;
  height: 20px;
  top: -34px;
  left: -5px;
  border-radius: 15px;
  white-space: nowrap;
}
